<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bannerImg">
      <div class="container d-flex fdc jcc aie w1 ">
        <p class="fcs fs9">Promise-Desert 2020 早春系列</p>
        <h2 class="fcs fwb fs16">看得清，才能看得遠</h2>
        <span class="fs5 fcbl fwm">立即購買</span>
      </div>
    </section>

    <section class="bannerInform">
      <div class="container">
        <h2 class="fs12 tac fcs fwb">用專業的心，做專業的事</h2>
        <ul class="d-flex jcc">
          <li class="col-3">
            <div class="d-flex jcc">
              <img src="/assets/images/home-section2-1.png" alt="">
            </div>  
            <h3 class="fs6 fcs fwb tac">單一價格</h3> 
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-3">
            <div class="d-flex jcc">
            <img src="/assets/images/home-section2-2.png" alt="">
            </div>
            <h3  class="fs6 fcs fwb tac">20 分鐘即可取件</h3> 
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col-3">
            <div class="d-flex jcc tac">
              <img src="/assets/images/home-section2-3.png" alt="">
            </div>
            <h3 class="fs6 fcs fwb tac">安心售後服務</h3> 
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col-3">
            <div class="d-flex jcc">
              <img src="/assets/images/home-sectioin2-4.png" alt="">
            </div>
            <h3 class="fs6 fcs fwb tac">關於鏡片</h3> 
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="classical">
      <div class="container">
        <h2 class="fwb fs12 fcs tac">經典系列鏡框</h2>
        <ul class="d-flex">
          <li class="col-3 tac">
            <a href="#">
              <img src="/assets/images/home-section3-1.png" alt="">
              <h3 class="fs12 fcp fwb">OPTICAL</h3> 
            </a>  
          </li>
          <li class="col-3 tac">
            <a href="#">
              <img src="/assets/images/home-section3-2.png" alt="">
              <h3 class="fs12 fcp fwb">SUNGLASSES</h3>
            </a>  
          </li>
          <li class="col-3 tac">
            <a href="#">
              <img src="/assets/images/home-section3-3.png" alt="">
              <h3 class="fs12 fcp fwb">FUNCTION</h3>
            </a> 
          </li>
        </ul>
      </div>
    </section>
    
    <section class="downbannerImg">
      <div class="container">
        <h2 class="fs12 fcbl tac fwb">聯名設計鏡框</h2>
        <ul class="d-flex">
            <li class="col-2">
              <a href="#">
                <div class="image1"></div> 
              </a>
              <h3 class="fs12 fcp fwb tac">DOUBLE A+</h3> 
            </li>
            <li class="col-2">
            <a href="#">
                <div class="image2"></div> 
            </a>
              <h3 class="fs12 fcp  fwb tac">YOUTH</h3>  
            </li>
        </ul>
      </div>
    </section>

    <section class="recomdation">
      <div class="container">
            <h2 class="fs12 fcs fwb tac">顧客推薦</h2>
            <ul class="d-flex">
              <li class="col-3">
                <div class="card">
                  <img src="/assets/images/home-section5-1.png" alt="">
                  <div class="content">
                      <h3>Jessy</h3> 
                      <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                      <time>2021/04/18</time>
                  </div>
                </div>
              </li>
              
              <li class="col-3">
                <div class="card">
                  <img src="/assets/images/home-section5-2.png" alt="">
                  <div class="content">
                      <h3>凱倫</h3> 
                      <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                      <time>2021/04/18</time>
                  </div>
                </div>
              </li>
              <li class="col-3">
                <div class="card">
                  <img src="/assets/images/home-section5-3.png" alt="">
                  <div class="content">
                      <h3>悠悠</h3> 
                      <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                      <time>2020/12/25</time>
                  </div>
                </div>
              </li>              
              <li class="col-3">
                <div class=" card">
                  <img src="/assets/images/home-section5-4.png" alt="">
                  <div class="content">
                      <h3>Kyuan</h3> 
                      <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                      <time>2020/10/31</time>
                  </div>
                </div>
              </li>       
      </div>
    </section>

    <section class="contactForm">
      <div class="container">
        <div class="d-flex jcc">
          <div class="col-2">
            <h2 class="tac fs12 fwb fcs">聯絡我們</h2>
            <p class="fs5">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <form class="d-flex fdc" action="index.html">
              <label for="person">姓名</label>
              <input id="person" class="formText" type="text" placeholder="陳小明" name="person">

              <label for="phone">聯絡電話</label>
              <input id="phone" class="formText" type="tel" placeholder="0912-345-678" name="phone">

              <label for="mail">電子郵件</label>
              <input id="mail" class="formText" type="email" placeholder="example@email.com" name="mail">

              <label for="feedback">意見反應</label>
              <textarea id="feedback" class="formText" name="feedback" placeholder="請輸入您的意見"></textarea>

              <div class="contactForm-agree">
                <input id="agree" class="contactForm-checkbox" type="checkbox" name="agree">
                <label for="agree">
                  我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                </label>
                <div class="contactForm-checkstyle">
                </div>
              </div>
            <div class="d-flex jcc">  
              <div class="btn">
                <input class="btn-primary-l" type="submit" value="確認送出">
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
